* {
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
  margin: 0;
}

.mainDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-width: 30rem;
  }
  p {
    color: #a0a0a0;
    margin: 0;
    margin: 0.5rem 0;
  }
}

.inputs {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.inputs input {
  width: 2.3rem;
  height: 2.6rem;
  font-size: 1.6rem;
  background-color: #d0d0d0;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0.4rem 0.5rem;
}

.TryAgainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.TryAgainDiv p {
  text-align: center;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.TryAgainDiv .right {
  color: green;
}

.TryAgainDiv .Wrong {
  color: red;
}

.TryAgainDiv button {
  background-color: green;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* #head,
#body,
#arms,
#legs,
#scaffold,
#ground {
  opacity: 0;
} */
